{% set switch = section.switch %}

<section class="section">
    <div class="container container-grid items-center">
        <div class="row-start-1 {{ switch ? 'col-start-8 col-span-4' : 'col-start-1 col-span-3'}} my-md">
            {% include "_components/title" with {
                title: section.title, 
                extraClass: 'mb-md'
            } %}
            {% if section.ckeSimple %}
                <div class="cke-simple">
                    {{ section.ckeSimple }}
                </div>
            {% endif %}
        </div>
        <div class="bg-white text-black row-start-1  {{ switch ? 'col-start-1 col-span-6' : 'col-start-5 col-span-8'}}  rounded-base p-lg h-full center">
            <ul class="w-full flex flex-row flex-wrap justify-center gap-md">
                {% for item in section.textList %}
                    <li class="w-[calc((100%-6rem)/3)]">
                        <div>
                            <span class="block text-prim h-2 w-2 rounded-full border border-prim center">{{ svg('assets/icons/check.svg')|attr({ class:"w-1 h-auto" }) }}</span>
                            {% if item.title %}
                                <h3>{{ item.title }}</h3>
                            {% endif %}
                            <div class="mt-xs">{{ item.ckeSimple }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

