{% set listItems = section.listTitleTextIcon.all() %}
{% set withBg = section.withBg %}

<section class="section {{ withBg ? 'bg-black section-padding text-white' : '' }}">
    <div class="container container-grid">
        {% if not withBg %}
            <div class="col-span-3">
                {% include "_components/title" with { title: section.title } %}
            </div>
        {% endif %}
        <div class="col-start-4 col-span-9 {{ withBg ? 'xl:col-start-5 xl:col-span-8' }} md:grid md:grid-cols-2 lg:grid-cols-3 gap-md">
            {% if withBg %}
                <div>
                    {% include "_components/title" with { title: section.title } %}
                </div>
            {% endif %}
            {% for item in listItems %}
                {% set graphic = item.graphic.one() %}
                <div>
                    {% if graphic %}
                        {{ svg(graphic)|attr({ class: 'mb-base' })}}
                    {% endif %}
                    {% if index is same as 1 %}
                        <h2 class="font-bold text-sm">{{ item.title }}</h2>
                    {% else %}
                        <h3 class="font-bold text-sm">{{ item.title }}</h3>
                    {% endif %}
                    <p>{{ item.textMultiple }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>