{% set form = section.form.one() %}

<section class="section section-padding bg-black text-white">
	<div class="container container-grid {{ isFirst ? 'gap-md md:gap-0'}}">
		<div class="col-span-4 {{ not isFirst ? 'xl:col-span-3 pr-[20%]' }}">
			{% include "_components/title" with { title: section.title, extraClass: 'mb-md' } %}
			<div class="{{ isFirst ? 'md:pl-[33%]' : '' }}">{{ section.ckeSimple }}</div>
            {% if section.showContactInfo %}
                {% set address = companyInfo.address.one() %}
                <div class="mt-md flex flex-col gap-1.25">
                    <div class="flex flex-row gap-0.5 items-center">
                        {{ svg('assets/icons/e-mail.svg')|attr({ class:"text-prim w-1.5 h-auto" })}}
                        {% include "_components/link" with { url: 'mailto:' ~ companyInfo.eMail, label: companyInfo.eMail, withArrow: true, norBorderAnimation: true } %}
                    </div>
                    <div class="flex flex-row gap-0.5 items-center">
                        {{ svg('assets/icons/tel.svg')|attr({ class:"text-prim w-1.5 h-auto" })}}
                        {% include "_components/link" with { url: 'tel:' ~ companyInfo.tel, label: companyInfo.tel, withArrow: true, norBorderAnimation: true } %}
                    </div>
                    <div class="flex flex-row gap-0.5 items-start">
                        {{ svg('assets/icons/location-pin.svg')|attr({ class:"text-prim w-1.5 h-auto" })}}
                        <div>
                            <span>
                                {{ address.addressLine1 }}<br>
                                {{ address.postalcode }} {{ address.locality }}<br>
                                {{ address.country }}
                            </span>
                            {% include "_components/link" with { url: '', label: 'Directions'|t, withArrow: true, norBorderAnimation: true } %}
                        </div>
                    </div>
                </div>
            {% endif %}
		</div>
		<div class="{{ isFirst ? 'col-start-6 col-span-5' : 'col-span-8 xl:col-span-6' }} flex flex-col items-center">
            <div class="max-w-33">
                {% if form %}
                    {{ craft.formie.renderForm(form)}}
                {% endif %}
            </div>
		</div>
	</div>
</section>
