{% set contact = craft.entries.section('contact').one() %}

<div class="container flex flex-col md:flex-row justify-between items-center gap-1 text-xs border-t-2 border-t-white py-sm">
    <div class="flex flex-col md:flex-row items-center gap-0.5 md:gap-4">
        <p>© {{ '2026 Vydraulics | All Rights Reserved'|t }}</p>
        {% if companyInfo.btwNum %}
            <p>{{ companyInfo.btwNum }}</p>
        {% endif %}
    </div>
    <div class="flex flex-row flex-wrap items-center justify-center gap-0.25">
        <a href="">{{' Algemene voorwaarden'|t }} |</a>
        <a href="">{{ 'Privacy beleid'|t }} |</a>
        <a href="">{{ 'Cookie beleid'|t }}</a>
    </div>
    <div>
        <a class="flex items-center gap-0.5 text-xs hover:text-prim" href="https://www.likeavirgin.be/nl" aria-label="{{ 'Bezoek de site van de maker van deze site'|t }}">                 
            {{ svg("assets/icons/g.svg")|attr({class: 'h-1 w-1' }) }} 
            Like a Virgin
        </a>
    </div>
</div>
