{% set items = items ?? null %}
{% set textMultiple = section.textMultiple %}
{% set noTitleText = section.noTitleText %}
{% set asAccordion = section.asAccordion %}
{% set link = section.linkField %}
{% set withArrowCard = withArrowCard ?? false %}

<section class="section">
	<div class="container {{ asAccordion ? 'flex flex-col lg:flex-row gap-md' : 'container-grid' }}">
		{% if not noTitleText %}
			<div class="{{ asAccordion ? 'w-full lg:max-w-17' : 'xl:col-start-2 col-span-3 mr-3.25 mb-md' }}">
				{% include "_components/title" with { title: section.title, extraClass: "mt-base mb-sm" } %}
				{% if textMultiple %}
					<p>{{ textMultiple }}</p>
				{% endif %}
                {% if link %}
                    {% include "_components/link" with {
                        linkField: link, 
                        btnStyle: true,
                        withArrow: true, 
                        withBg: true, 
                        extraClass: "mt-md"
                    } %}
                {% endif %}
			</div>
		{% endif %}
		{% if items|length %}
            {% if asAccordion %}
                <ul class="w-full min-w-0 flex flex-col xl:flex-row gap-xs overflow-hidden" x-data="{ openItem: 0 }">
                    {% for item in items %}
                        <li class="accordion-card group rounded-base overflow-hidden transition-[flex,background-color,padding] duration-500 ease-in-out cursor-pointer flex py-base xl:py-md bg-white"
                            @click="openItem == {{ loop.index }} ? openItem = 0 : openItem = {{ loop.index }}"
                            :class="openItem == {{ loop.index }} ? 'xl:basis-27 xl:grow-0 xl:shrink-0 px-base sm:pl-base sm:pr-lg bg-black!' : 'xl:flex-1 items-center xl:justify-center px-base xl:px-0'"
                            >
                            <div class="flex flex-col h-full w-full px-1">
                                <div class="flex flex-row items-center gap-1.5 w-full"
                                    :class="openItem == {{ loop.index }} ? '' : 'xl:flex-col xl:justify-start xl:h-full'"
                                    >
                                    <span class="transition-rotate transition-transform duration-500 ease-in-out shrink-0 group-hover:rotate-45" :class="openItem == {{ loop.index }} ? 'rotate-45' : 'rotate-0'">
                                        {{ svg('assets/icons/arrow-top-right.svg')|attr({ class:"w-1 text-prim" })}}
                                    </span>
                                    <h3 class="font-heading font-bold text-sm transition-colors"
                                        :class="openItem == {{ loop.index }} ? 'text-white' : 'xl:[writing-mode:vertical-rl] xl:rotate-180 xl:mt-auto whitespace-nowrap'"
                                        >{{ item.title }}</h3>
                                </div>
                                <div class="grid transition-[grid-template-rows] ease-in-out"
                                    :class="openItem == {{ loop.index }} ? 'grid-rows-[1fr] duration-300 delay-300' : 'grid-rows-[0fr] duration-0'">
                                    <div class="overflow-hidden text-white pl-2.5 xl:min-w-24 sm:pr-3.5">
                                        <div class="mt-sm">
                                            <p class="mb-sm">{{ item.textMultiple }}</p>
                                            {% include "_components/link" with {
                                                url: item.url,
                                                label: 'More about'|t ~ ' ' ~ item.title|lower,
                                                withArrow: true,
                                                noBorderAnimation: true
                                            } %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class=" {{ noTitleText ? 'col-start-2 col-span-10' : 'con-start-4 xl:col-start-5 col-span-8' }} flex flex-col md:grid md:grid-cols-2 xl:grid-cols-3 gap-md md:gap-base">
                    {% for item in items %}
                        <li class="group w-full h-full">
                            {% include "_components/card" with {
                                url: item.url, 
                                title: item.title, 
                                text: item.textMultiple,
                                linkLabel: 'More about'|t ~ ' ' ~ item.title, 
                                withArrowCard: withArrowCard
                            } %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
		{% endif %}
	</div>
</section>